@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }


header{
    position: fixed;
    z-index: 2; 
    width:100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 90px;
    max-width: 1040px;
  }

body {
    font-size: 100%;
    font-family: Comfortaa;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.inicio{
    padding-bottom: 200px;
    margin-right: 120px;
}
.inicio-titulo{
    position: relative;
    top: 400px;
    display: flex;
    flex-direction: column;
    left: 3cm;
}
.sobre{
    padding-top: 120px;
    padding-bottom: 250px;

}
.servico{
    padding-top: 90px;
    padding-bottom: 250px;

}

.logo{
    position: relative;
    margin: 0 30px; 
    display: inline-flex;
    size: 30rem;
    right: 9cm;
}
.nav-list ul {
    position: relative;
    display: inline-block;
	vertical-align: top;
    display: flex;
	width: 20%;
	margin-right: 15%;
    padding: 20px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.img-principal {
    position: relative;
    width: 600px;
    left: 1000px;
  }
.titulo{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.015em;
    color: #423944;

}
.card-all-1{
    padding-inline: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}
.card-all-2{
    padding-inline: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.botao-pesquisa {
    position: relative;
    font-size: 24px;
    color: #FFFFFF;
    width: 366px;
    height: 58px;
    border: 0;
    border-radius: 29px;
    right: 13.2cm;
    bottom: 100px;
  }
  
  #botao-pesquisa {
    background-color: #FF2ECC;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #botao-pesquisa:hover {
    background-color: #1E1E1E;
  }

.subtitulo{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FF2ECC;
}
.titulo-principal{
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.015em;
    max-width: 600px;
    max-height: -10cm;
    bottom: 2cm;
        
    background: linear-gradient(110.02deg, #AD2EFF 0%, #FF2ECC 98.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.subtitulo-princial{
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 27px;
    color: #423944;
    max-width: 400px;
}

.rodape{
    padding-top: 100px;
}
.imgs-rodape{
    padding-top: 100px;
    padding-bottom: 70px;
    display:flex;
    justify-content: space-evenly;

}


@media (max-width: 999px) {
    body {
      overflow-x:hidden;
      padding: auto;
    }
    
    
    
    .nav-list{
        position: relative;
        display: flex;
        flex-grow: 0;
        flex-basis: auto;
        font-size: 12px;
    }

    .logo{
        width: 50px;
        right: auto;
    }

    .inicio {
        flex-direction: column-reverse;
        margin: auto;
        padding: auto;
        padding-bottom: 400px;
        padding-right: 10px ;
    }
    .inicio-titulo{
        position: relative;
        top: 600px;
        left: 5px;
    }
    .inicio-titulo h1 {
        font-size: 25px;
        min-width: 328px;

    }

    .inicio h2 {
        position: relative;
        bottom: 50px;
        font-size: 18px;
    }

    .inicio img {
        display: flex;
        justify-content: end;
        width: 276.24px;
        left:auto;
        left: 40px;
        top: 30px;

    }
    .botao-pesquisa{
        position: relative;
        right: auto;
        top: 300px  ;
    }

    .card-all-1 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
        align-items: center;
    }
    .card-all-2 {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
        align-items: center;
    }


    .div-titulo {
        padding: 50px 0 70px 0;
    }

    .titulo {
        font-size: 24px;
    }

    .subtitulo {
        font-size: 24px;
    } 
    .sobre{
        margin: auto;
    }
    .imgs-rodape{
        flex-direction: column;
        gap: 30px;
        padding: 0;
        align-items: center
    }

    .servico{
        margin-top: -200px ;
    }

    .contato{
        margin-top: -300px;
        margin-bottom: 30px;
    }

}